# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
venv/
ENV/
env/

# PyCharm
.idea/

# VS Code (if ever used)
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Mac system files
.DS_Store

# Log files
*.log

# CSV and Excel outputs
*.csv
*.xlsx

# Face recognition model files (optional, if large)
*.dat

# Compiled Cython files
*.c
*.cpp

# Testing cache
.pytest_cache/
